.wrapper{
	background-color: #2798AD;
}

div.navbar{
	height: 50px;
}
header{
	height: 30px;
}


li{
	font-size: 20px;
	font-family: Verdana;
}

li#home{
	margin-left: 20px;
}

li#phone{
	
}
img#top_image{
	height: 50px;
	width: 80px;
	float: left;
	background-color: none;
}


section#main_image{
	/*background-color: fuchsia;*/
	height: 600px;
	width: 100%;
	z-index: 9999;
	background-image: url(barecelona_water.jpg);
	background-repeat: no-repeat;
}

section#main_image div#logo_image{
	/*background-color: lightgreen;*/
	height: 300px;
	width: 300px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;

}

section#main_image div#logo_image img{
	/*background-color: blue;*/
	height: 300px;
	width: 300px;
	margin-left: auto;
	margin-right: auto;

}

section#main_image p#apartment_hosting{
	color: #5BDDF7;
	margin-top: 100px;
	text-align: center;
	font-size: 40px;
	/*background-color: purple;*/
	text-shadow: 0 0 0.4em #000000;
	font-family: Verdana;
}
 
section#main_image div#header_line{
	background-color: #FEBE40;
	height: 3px;
	width:500px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 15px;

}

section#main_image p#slogan{
	color: #FBFAF1;
	margin-top: 15px;
	text-align: center;
	font-size: 40px;
	/*background-color: purple;*/
	text-shadow: 0 0 0.4em #000000;
	font-family: Verdana;
}

section#who-what{
	height: 350px;
	width: 950px;
	margin-left: auto;
	margin-right: auto;
	font-family: Verdana;
	/*background-color: red;*/
}

div#who-we-are{
	background-color: #222222;
	height: 240px;
	width: 300px;
	float: left;
	box-shadow: 0px 2px 5px #000000;
	margin-top: 20px;
	font-family: Verdana;
}

div#what-we-do{
	background-color: #222222;
	height: 240px;
	width: 300px;
	margin-left: 25px;
	float: left;
	box-shadow: 0px 2px 5px #000000;
	margin-top: 20px;
	font-family: Verdana;
	
}

div#our-testims{
	background-color: #222222;
	height: 240px;
	width: 300px;
	margin-left: 25px;
	float: left;
	/*border-left: solid;*/
	box-shadow: 0px 2px 5px #000000;
	margin-top: 20px;
}

.nopadding{
	margin: 0; 
	padding: 0;
}


.link-on-home{
	font-size: 14px;
	text-align: justify;
	color: white;
	text-decoration: none;
	margin-top: 20px;
	padding-left: 15px;
	padding-right: 15px;
}

.learn-more:hover{
	color: #5BDDF7;
}

.link-title{
	font-size: 18px;
	text-align: center;
	color: white;

}

.learn-more{
	font-size: 14px;
	text-align: right;
	color: white;
	padding-right: 15px;
}

footer{
	height: 195px;
	background-color: #222222;
}


footer div#bot_contact{
	height: 120px;
	width: 500px;
	/*background-color: pink;*/
	margin-top: 10px;
	float: left;
	font-family: Verdana;
	color: white;
}

footer div#bot_social{
	height: 80px;
	width: 500px;
	background-color: lightgreen;
	margin-top: 10px;
	float: left;
	margin-left: 100px;
}

div#bottom-stuff{
	width: 1100px;
	height: 80px;
	margin-left: auto;
	margin-right: auto;
}

div.clear{
	clear: both;
}

footer div#copyright{
	color: white;
	font-family: Verdana;
	margin-top: 40px;
	margin-left: 20px;
}




/*about page*/




section#main-about{
	height: 800px;
	width: 1000px;
	margin-right: auto;
	margin-left: auto;
	box-shadow: 0px 2px 5px #000000;
	background-color: #AFF0FC;

}

section#main-about h1#about-title{
	font-family: Verdana;
	margin-left: 60px;
	padding-top: 40px;
}

section#main-about h4{
	/*background-color: green;*/
	text-align: justify;
	width: 440px;
	margin-left: 100px;
	font-size: 18px;
	float: left;
	font-family: Verdana;
	
}

section#main-about div#testims{
	background-color: #F4FEFF;
	width: 300px;
	height: 680px;
	float: left;
	margin-left: 80px;
	margin-right: 40px;
	border-radius: 10px;
	font-family: Verdana;

}

section#main-about div#testims p.side-test{
	width: 260px;
}

footer#about-footer{
	background-color: black;
	height: 200px;
	width: 100%;
	margin-right: auto;
	margin-left: auto;
}




/*main contact page*/



section#main-contact{
	width: 1000px;
	background-color: #AFF0FC;
	height: 700px;
	margin-left: auto;
	margin-right: auto;
	box-shadow: 0px 2px 5px #000000;
}

section#main-contact h1#contact-header{
	width: 200px;
	margin-left: 90px;
	padding-top: 40px;
	/*background-color: black;*/
}

section#main-contact div#big-contact{
	width: 820;
	height: 500px;
	/*background-color: lightgreen;*/
}

div.wrapper section#main-contact div.contact-info{
	height: 440px;
	width: 380px;
	background-color: #222222;
	/*margin-left: 90px;*/
	margin-left: auto;
	margin-right: auto;
	/*float: left;*/
	margin-top: 40px;
	box-shadow: 0px 1px 5px #000000;
}

div.wrapper section#main-contact div.contact-info2{
	height: 440px;
	width: 380px;
	background-color: #F4FEFF;
	margin-left: 60px;
	float: left;
	margin-top: 40px;
	box-shadow: 0px 1px 5px #000000;
}

div.wrapper section#main-contact div.contact-info p{
	font-family: Verdana;
	font-size: 18px;
	margin-left: 20px;
	padding-top: 30px;
	color: white;
}

/*main services page*/



section#main-services{
	background-color: #AFF0FC;
	height: 1300px;
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
	box-shadow: 0px 2px 5px #000000;
}

section#main-services h1#services-heading{
	/*background-color: purple;*/
	width: 200px;
	margin-left: 60px;
	padding-top: 40px;
	font-family: Verdana;
}

section#main-services p#how-good{
	/*background-color: lightpink;*/
	font-size: 18px;
	text-align: justify;
	width: 700px;
	margin-right: auto;
	margin-left: auto;
	font-family: Verdana;

}


section#main-services div.service-icon{
	height: 200px;
	width: 200px;
	background-color: beige;
	margin-top: 40px;
	float: left;
	border-radius: 5px;
	border: 2px solid #2798AD;

}

section#main-services div.service-desc{
	height: 200px;
	width: 590px;
	/*background-color: lightgreen;*/
	margin-top: 20px;
	margin-left: 20px;
	float: left;
	font-family: Verdana;
	font-size: 16px;
}

section#main-services li{
	font-family: Verdana;
	font-size: 18px;



}
section#main-services div.service{
	height: 200px;
	width: 890px;
	margin-left: auto;
	margin-right: auto;
	/*background-color: blue;*/
}


div.service div.service-desc#bigger{
	height: 350px;
	font-family: Verdana;
	width: 600px;
	font-size: 18px;
}

div.service div.service-desc#kinda-bigger{
	height: 320px;
	font-family: Verdana;
	font-size: 18px;
	width: 600px;
}

#yellow{
	width:1000px;
	height: 600px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;

}













