html{
	background-color: #FBFAF1;
}

div.navbar{
	height: 50px;
}
header{
	height: 50px;
}


li{
	font-size: 20px;
	font-family: Trebuchet MS;
}

li#home{
	margin-left: 20px;
}

li#phone{
	
}
img#top_image{
	height: 90px;
	width: 100px;
	float: left;
}


section#main_image{
	background-color: fuchsia;
	height: 700px;
	width: 100%;
	z-index: 9999;
	background-image: url(bhouse.jpg);
	background-repeat: no-repeat;
}

div#barcelona{
	font-size: 86px;
	font-family: cursive;
	/*background-color: green;*/
	width: 380px;
	margin-top: 100px;
	margin-left: 30px;
	color: #FBFAF1;
}

div#botone{
	font-size: 86px;
	font-family: cursive;
	/*background-color: orange;*/
	width: 350px;
	margin-top: 100px;
	color: #FBFAF1;
}

section#main_image div#logo_image{
	/*background-color: blue;*/
	height: 400px;
	width: 800px;
	margin-left: auto;
	margin-right: auto;

}

section#main_image div#logo_image img{
	/*background-color: blue;*/
	height: 400px;
	width: 800px;
	margin-left: auto;
	margin-right: auto;

}

section#main_image p#slogan{
	color: #FBFAF1;
	text-align: center;
	font-size: 40px;
	/*background-color: purple;*/
	text-shadow: 0 0 0.4em #000000;
	font-family: cursive;
}

section#who-what{
	height: 300px;
}

div#who-we-are{
	background-color: #BCDFE0;
	height: 300px;
	width: 500px;
	float: left;
	
}

div#what-we-do{
	background-color: #BCDFE0;
	height: 300px;
	width: 500px;
	float: left;
	border-left: dotted;
	
}







section#testimonials{
	/*height: 700px;*/
	background-color: beige;
}

section#testimonials h1{
	color: #51C1CC;
	font-family: cursive;
}

section#testimonials p{
	color: #51C1CC;
	font-family: cursive;
	font-size: 20px;
	margin-top: 20px;
	width: 800px;
}

footer{
	height: 200px;
	background-color: black;
}


footer div#bot_contact{
	height: 80px;
	width: 500px;
	background-color: pink;
	margin-top: 20px;
	float: left;
	margin-left: 50px;
}

footer div#bot_social{
	height: 80px;
	width: 500px;
	background-color: lightgreen;
	margin-top: 20px;
	float: left;
	margin-left: 100px;
}

div.clear{
	clear: both;
}

footer div#copyright{
	color: white;
	font-family: cursive;
	margin-top: 80px;
	margin-left: 20px;
}




/*about page*/




section#main-about{
	height: 600px;
	width: 1200px;
	margin-right: auto;
	margin-left: auto;
	background-color: #51C1CC;

}

section#main-about h1#about-title{
	font-family: Trebuchet MS;
	margin-left: 20px;
	padding-top: 40px;
}

section#main-about h4{
	/*background-color: green;*/
	text-align: justify;
	width: 600px;
	margin-left: 60px;
	font-size: 20px;
	float: left;
	
}

section#main-about div#testims{
	background-color: #EFEFD0;
	width: 300px;
	height: 511px;
	float: right;

}

section#main-about div#testims p.side-test{
	width: 260px;
}

footer#about-footer{
	background-color: black;
	height: 200px;
	width: 100%;
	margin-right: auto;
	margin-left: auto;
}




/*main contact page*/



section#main-contact{
	width: 1200px;
	background-color: #51C1CC;
	height: 700px;
	margin-left: auto;
	margin-right: auto;
}











